
.movieCard{
    width: 450px;
    height: 280px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}

.movieCard__poster{
    object-fit: cover;
    height: 100%;
    flex-shrink: 0;
}
.movieCard__posterDesktop{
    display: flex;
    width: 180px;
}
.movieCard__posterMobile{
    display: none;
    width: 60px;
    height: fit-content;
    margin: 10px 0 0 10px;
}

.movieCard__article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movieCard__topBlock{
    display: flex;
}

.movieCard__topContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movieCard__header{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 10px 10px 0 24px;
}

.movieCard__name{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;
}

.movieCard__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid;
    font-weight: 600;
}
.movieCard__rating--zero{
    border-color: #E90000;
}
.movieCard__rating--three{
    border-color: #E97E00;
}
.movieCard__rating--five{
    border-color: #E9D100;
}
.movieCard__rating--seven{
    border-color: #66E900;
}

.movieCard__time{
    margin: 0 24px;
    color: #827E7E;
}

.movieCard__genres{
    margin: 0 24px;
}

.movieCard__description{
    flex-grow: 1;
    margin: 0 24px;
}

.movieCard__rate{
    margin: 0 24px 10px 24px;
}

/*----------------*/

/*rate fix*/
.movieCard .ant-rate .ant-rate-star{
    margin-inline-end: 2px;
}
.movieCard .ant-rate .ant-rate-star:last-child{
    margin-inline-end: 0;
}

/*----------------*/

@media (max-width: 575px) {
    .movieCard{
        width: 100%;
        height: 240px;
    }
    .movieCard__posterDesktop{
        display: none;
    }
    .movieCard__posterMobile{
        display: flex;
    }
    .movieCard__header{
        margin: 10px 10px 0 10px;
    }
    .movieCard__time{
        margin: 0 10px;
    }
    .movieCard__genres{
        margin: 0 10px;
    }
    .movieCard__description{
        margin: 0 10px;
    }
    .movieCard__rate{
        margin: 0 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


