
/*removeLines*/
.ant-card{
    border-radius: 0;
}
.ant-card .ant-card-head,
.ant-card .ant-card-actions{
    border: none;
}

/*removeLength*/
.ant-card .ant-card-body{
    padding-top: 0;
}
/*.ant-card .ant-card-head,*/
/*.ant-card .ant-card-body,*/
/*.ant-card .ant-card-actions*/
/*{*/
/*    padding: 0;*/
/*}*/
/*.ant-card .ant-card-head{*/
/*    min-height: 0;*/
/*}*/
/*.ant-card .ant-card-actions>li{*/
/*    margin: 0;*/
/*}*/

/*setPosition*/
.ant-card{
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ant-card-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ant-card-head,
.ant-card-actions{
    flex-shrink: 0;
}

/*setLength*/
.movieCard{
    width: 450px;
    height: 280px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.movieCard__posterMask{
    /*overflow: hidden !important;*/
}
.movieCard__poster{
    /*object-fit: cover !important;*/
    /*width: 180px !important;*/
    /*height: 100% !important;*/
    /*flex-shrink: 0 !important;*/
}
.movieCard__article{
    flex-grow: 1;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 20px;*/
}
.movieCard__time{}
.movieCard__description{}


